.wrapper-gradient {
  overflow: hidden;
  position: relative;
  padding: 1px;
  box-shadow: $light-block-shadow;
  border: 1px solid $color-additional-2;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 340px;
    height: 340px;
    background: radial-gradient(
      #7d64ff,
      $color-additional-2 77%,
      $color-additional-2
    );
    border-radius: 50%;
  }
  &:before {
    top: 100%;
    right: 100%;
    transform: translate(50%, -50%);
  }
  &:after {
    left: 100%;
    bottom: 100%;
    transform: translate(-50%, 50%);
  }
  .outer {
    position: relative;
    z-index: 1;
    background-color: #fff;
    color: $color-primary;
    overflow: hidden;
  }
  .cta-button {
    border: 0;
  }
}

.inner {
  padding: 30px;
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    flex-flow: column;
  }
}

.hook {
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    flex: 0 0 100% !important;
    max-width: unset;
  }
  @media screen and (max-width: 855px) and (min-width: 768px) {
    flex: 0 0 100% !important;
    max-width: unset;
  }
}

.cloud-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
  > a,
  button {
    max-width: 235px;
    @include xs-down {
      max-width: unset;
    }
  }
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    padding-left: 0px;
  }
  @include md-down {
    padding-left: 0px;
  }
}

.title {
  margin-bottom: 15px;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  font-weight: 400;
  margin: 0;
  @include md-down {
    font-size: 25px;
    line-height: 30px;
  }
}

.img-wrapper {
  width: 100%;
  height: 100%;
}

.img {
  display: flex;
  align-items: center;
  height: 100%;
}
