.wrapper {
  display: block;
  width: 100%;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-primary;
  border: 1px solid $color-secondary;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  border-radius: 0;
  outline: none;
  resize: vertical;
  transition: 0.3s;
  -webkit-appearance: none;

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }

  &:focus {
    border-color: $color-accent-primary;
    box-shadow: 0 0 5px rgba($color-accent-primary, 0.25);
  }

  &_invalid {
    border-color: $color-error;
    box-shadow: 0 0 5px rgba($color-error, 0.25);

    &:focus {
      border-color: $color-error;
      box-shadow: 0 0 5px rgba($color-error, 0.25);
    }
  }
}
