.wrapper {
  text-align: center;
  width: 100%;
}

.success-icon {
  margin-bottom: 10px;
  svg {
    display: block;
    margin: 0 auto;
  }
}

.success-text {
  font-size: $font-size-sm;
}

.error-text {
  font-size: $font-size-sm;
  color: $color-error;

  a {
    color: $color-error;
    font-weight: bold;
    text-decoration: none;

    @include hover-supported {
      text-decoration: underline;
    }
  }
}
