.js-api-wrapper {
  table {
    tr {
      td:first-child {
        width: 35%;
      }
    }
  }
  & div + div {
    margin-top: 50px;
  }
  & * + ul,
  & * + ol,
  & * + p {
    margin-top: 15px;
  }
  & * + li {
    margin-top: 5px;
  }
}
