.js-api-wrapper {
  table {
    tr {
      td:first-child {
        width: 35%;
      }
    }
  }
  & .module-wrapper + .module-wrapper {
    margin-top: 50px;
  }
  & * + ul,
  & * + ol,
  & * + p {
    margin-top: 15px;
  }
  & * + li {
    margin-top: 5px;
  }
}

.info {
  margin-top: 165px !important;

  @include lg-down {
    margin-top: 205px;
  }

  @include sm-down {
    margin-top: 240px;
  }
}
