.wrapper {
  margin-top: 37.5px;
}
.button-wrapper {
  position: relative;
}

.cta-button {
  @include lg-down {
    min-width: 275px;
  }
  @include md-down {
    min-width: 235px;
  }
  @include sm-down {
    width: 100%;
    min-width: unset;
  }
}

.button-bg {
  position: absolute;
  top: 48%;
  left: -28px;
  transform: translateY(-50%);
  @include sm-down {
    left: -30px;
  }
}
