.wrapper {
  background: $color-primary;
  box-shadow: 0 1px 5px rgba(60, 60, 100, 0.3);
  margin: 20px 0;

  :global(.hljs) {
    margin: 0;
    color: #fff;
    font-size: $font-size-code;
  }
}

.header {
  background: #2e2e38;
  display: flex;
  flex-wrap: nowrap;
  color: $color-additional-1;
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #454554;
  min-height: 25px;
  @include no-scrollbars;
}

.code-tab {
  padding: 12px 20px 10px 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: $font-size-sm;
  cursor: pointer;
  outline-color: $color-accent-secondary;
  @include xs-down {
    flex: 1;
  }
  white-space: nowrap;
  &:not(:last-child) {
    border-right: 1px solid rgba($color-tertiary, 0.05);
  }
  &.active {
    color: #fff;
  }
}
