.code {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  transition: max-height 0.2s ease-in-out;
  position: relative;
  @include no-scrollbars;
}

.line-number {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  color: $color-additional-1;
}

.line-content {
  display: table-cell;
}

.toggler {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 5px 2px 6px;
  background-color: $color-secondary;
  border-radius: 2px;
  height: 20px;
  border: none;
  outline: none;
  color: $color-tertiary;
  font-weight: 600;
  line-height: initial;
  font-size: 10px;
  color: $color-tertiary;
  text-transform: uppercase;
  cursor: pointer;
}

.code-container {
  :global {
    pre {
      display: flex;
      background: #2e2e38;
      padding: 15px;
      margin: 0;
      @include no-scrollbars;
      /* preparing for hiding line numbers on md-down */
      @include md-down {
        padding-left: 20px !important;
      }
      &[class*='language-diff'] {
        .deleted {
          color: #dd4a68;
        }
        .inserted {
          color: #c3e88d;
        }
      }
      &[class*='language-markup'] {
        .tag {
          color: #00cdff;
        }
        .attr-name,
        .prolog {
          color: rgb(195, 232, 141);
        }
        .attr-value {
          color: rgba(233, 149, 255, 1);
        }
      }
    }

    code {
      flex-grow: 1;
      display: block;
      text-shadow: none;
      font-family: $font-family-secondary;
      font-size: $font-size-code;
      line-height: $line-height-code;
      color: #ffffff;
    }

    .token {
      &-line {
        display: table-row;
        height: 25px; //$font-size-code * $line-height-code
      }
      // -----------------

      // blue #66ADFF
      // orange #FB9D5A
      // yellow #FBC55A
      // gray #9292A5
      // white #FFFFFF

      &.comment,
      &.prolog,
      &.doctype,
      &.cdata,
      &.operator,
      &.entity,
      &.url,
      .language-css &.string,
      .style &.string {
        color: #9292a5;
      }

      &.property,
      &.tag,
      &.boolean,
      &.number,
      &.constant,
      &.symbol,
      &.deleted,
      &.punctuation {
        color: #ffffff;
      }

      &.tag {
        margin: 0;
        padding: 0;
        background: none;
        font-size: 14px;
      }

      &.selector,
      &.attr-name,
      &.string,
      &.char,
      &.builtin,
      &.inserted {
        color: #fb9d5a;
      }

      &.atrule,
      &.attr-value,
      &.keyword {
        color: #66adff;
      }

      &.function,
      &.number,
      &.regex,
      &.important,
      &.variable {
        color: #fbc55a;
      }

      &.important,
      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }
      // ----------------------
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  transition: height 0.2s ease-in-out;
  background: linear-gradient(to bottom, transparent, $color-primary);
}
