.code-inline {
  background: $color-additional-3;
  padding: 0 5px;
  color: $color-primary;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  font-weight: normal;
  font-size: $font-size-code;
  line-height: $line-height-xs;
  font-family: $font-family-secondary;
}
