.code {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  @include no-scrollbars;
}

.line-number {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  color: $color-additional-1;
}

.line-content {
  display: table-cell;
}

.code-container {
  :global {
    pre {
      display: flex;
      background: $color-primary;
      padding: 15px;
      margin: 0;
      @include no-scrollbars;
      /* preparing for hiding line numbers on md-down */
      @include md-down {
        padding-left: 20px !important;
      }
      &[class*='language-diff'] {
        .deleted {
          color: #dd4a68;
        }
        .inserted {
          color: #c3e88d;
        }
      }
      &[class*='language-html'] {
        .tag {
          color: #00cdff;
        }
        .attr-name {
          color: rgb(195, 232, 141);
        }
        .attr-value {
          color: rgba(233, 149, 255, 1);
        }
      }
    }

    code {
      flex-grow: 1;
      display: block;
      text-shadow: none;
      font-family: $font-family-secondary;
      font-size: $font-size-code;
      line-height: $line-height-code;
      color: #e2e2e2;
    }

    .token {
      &-line {
        display: table-row;
      }
      &.comment {
        opacity: 0.5;
      }
      &.keyword {
        color: #00cdff;
      }
      &.property {
        color: $color-tertiary;
      }
      &.boolean,
      &.string {
        color: rgba(233, 149, 255, 1);
      }

      &.number {
        color: rgb(195, 232, 141);
      }

      &.operator {
        background-color: transparent !important;
        color: rgb(181, 181, 181) !important;
      }

      &.constant {
        color: $color-accent-secondary !important;
      }

      &.function {
        color: rgb(255, 255, 255);
      }

      &.punctuation {
        color: $color-tertiary !important;
      }
    }
  }
}
