.quickstart-card {
  @media screen and (max-width: 1300px) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @include lg-down {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @include md-down {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
