.wrapper {
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  overflow-x: hidden;
  margin-top: auto;
  padding: 40px 0;
  padding-left: 7px;
  margin-left: -3px; // avoid case when the outline of logos is hidden
  .year {
    @include md-down {
      margin-left: -12px;
    }
    @include sm-down {
      margin-left: 0;
    }
  }
  border-top: 1px solid $color-additional-2;
}

.top-section {
  margin-bottom: 50px;
}

.logo-wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
  @include xs-down {
    margin-bottom: 25px;
  }
}

.logo {
  display: block;
  fill: $color-primary;
}

.nav-column-title {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 20px;
  @include sm-down {
    margin-bottom: 15px;
  }
}

.nav-column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.legal-links-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  @include sm-down {
    flex-wrap: wrap;
  }
  .nav-column-item {
    margin-bottom: 0;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    @include xs-down {
      flex: 1 1 100%;
      margin-bottom: 10px;
      margin-right: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-column-link {
  font-size: $font-size-sm;
  line-height: $line-height-xs;
  text-decoration: none;
  color: $color-primary;
  transition: 0.3s;
  position: relative;

  &:hover {
    color: $color-accent-primary;
  }
}

.badge {
  position: absolute;
  top: 10%;
  right: -14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-tertiary;
  font-size: 8px;
  font-weight: bold;
  background-color: $color-accent-primary;
}

.heart {
  position: absolute;
  top: 2px;
  right: -12px;
  display: flex;
}

.text {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 0;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $color-accent-primary;
  }
}

.background-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2200px;
  background-color: #ffffff;
  transform: translateX(-50%);

  svg {
    display: inline-block;
    vertical-align: top;
  }

  @media only screen and (min-width: 2201px) {
    display: none;
  }
  @include xs-down {
    transform: translate(-30%);
  }
}
.social {
  margin: 47px -5px -5px -5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 115px;
  > * {
    padding: 5px;
  }
  @include md-down {
    max-width: unset;
  }
  @include xs-down {
    margin-top: 0;
  }
}
.social-icon {
  text-decoration: none;
  display: inline-block;
  svg {
    display: block;
    path {
      transition: fill 0.3s;
    }
  }
  &:hover svg path {
    fill: $color-primary;
  }
}

.status {
  display: flex;
  align-items: flex-end;
}

.statusIndicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $color-success;
  margin-left: 3.5px;
  margin-bottom: 5px;

  &.major,
  &.critical {
    background-color: $color-error;
  }

  &.minor {
    background-color: $color-status-warning;
  }
}
