.wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;

  dt {
    font-size: $font-size-lg;
    font-weight: 500;
    .anchor-icon {
      position: absolute !important;
      left: -20px;
      visibility: hidden;
      transition: all 0.3s ease;
      text-decoration: none !important;
      border: none !important;
      &:hover {
        text-decoration: none !important;
        border: none !important;
      }
      @include sm-down {
        position: static !important;
        margin-left: 5px;
      }
    }
    &:hover {
      .anchor-icon {
        visibility: visible;
      }
    }
  }

  dd {
    margin-top: 10px;
    margin-left: 20px;
    font-size: $font-size-base;
    & + dt {
      margin-top: 20px;
    }
  }
}
