.container {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 15px;
}

.item {
  display: flex;
  align-items: center;
}

.item + .item {
  border-top: 1px solid $color-additional-2;
}

.item-image {
  flex-shrink: 0;
  margin-right: 20px;
}

.item-content {
  flex-grow: 1;
}

.item-title {
  margin-bottom: 5px;
}

.item-text {
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  strong {
    font-weight: 500;
    color: $color-accent-primary;
  }
}

.item-date {
  margin-left: 20px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
}

.card-footer {
  text-align: right;
}
