.wrapper {
}

.label {
  display: block;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-secondary;
  margin-bottom: 5px;
}
