.input {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  z-index: 1;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-additional-1;
  padding-left: 28px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid $color-additional-1;
    color: $color-accent-primary;
    background: #fff;
    position: absolute;
    left: 0;
  }

  &:hover:before {
    border-color: $color-accent-primary;
  }
}

.input:checked + label:before {
  content: url('./svg/checkmark.svg');

  background: $color-accent-primary;
  border: 1px solid $color-accent-primary;
}
