.wrapper {
  margin-top: 230px;
  width: 100%;
  height: 100%;
  @include default-section-spacing;
  @include lg-down {
    padding-top: 160px;
  }
  @include md-down {
    padding-top: 140px;
  }
  @include sm-down {
    padding-top: 120px;
  }
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.illustration-wrapper {
  width: 200px;
  height: auto;
}

.title {
  margin-top: 60px;
  margin-bottom: 10px;
}

.description {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 30px;
  @include md-down {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}
