{
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["**/*.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
