.wrapper {
  @include doc-section-spacing;
}

.subtitle {
  margin-top: 10px;
  color: $color-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.dashboard {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;

  column-gap: 25px;
  row-gap: 25px;

  @include md-down {
    grid-template-columns: 1fr 1fr;
  }

  @include xs-down {
    grid-template-columns: 1fr;
  }
}

.picture-wrapper {
  margin-bottom: 15px;
  @include sm-down {
    margin-bottom: 10px;
  }
}

.link-title {
  margin: 0 0 10px 0;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.link-description {
  margin: 0;
  max-width: 100%;
}
