---
title: 'Share test results'
description: ''
weight: 504
---

# Share test results

After you analyze your test, you might want to mark it for further analysis.

To do this, you have a few options:

- Generate a PDF Summary of your test results
- Export it to another format, so you can query it with the program of your choice.
- Make a shareable link, so you can show the results to others.
- Set the test as baseline, keeping it available beyond the normal data retention periods.
- Make notes on the test, preserving contextual details.


To do any of these actions, use the vertical-dots icon to open the *Test Result menu*.

![Test Results Menu](/media/docs/k6/test-results-menu.png)

## Download export data

Starts a test result data export.

## Share test results (generates a link to app.k6.io)

Generates a URL that you can use to share test results.

**Users don't need to authenticate to view a shared test URL**.
If you want to share sensitive results, consider adding users as
[Members](/cloud/project-and-team-management/members) instead.

## Generate PDF Summary (will go to app.k6.io)

Generates an executive summary of the test's most relevant metrics and performance data.

