.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  appearance: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-container {
  display: inline-flex;
  align-items: baseline;
  @include xs-down {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.item-container + .item-container:before {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L1 9' stroke='%235A5C87' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  content: '';
  width: 7px;
  height: 10px;
  display: block;
  margin: 0 6px;
  @include xs-down {
    margin: 0 6px 0 0;
  }
}

.item {
  text-decoration: none;
  font-size: $font-size-sm;
  line-height: $font-size-sm;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-bottom: 1px;

  color: $color-primary;
  cursor: pointer;
  color: $color-accent-primary;
  border-bottom: 1px solid rgba($color-accent-primary, 0);
  &:hover {
    border-bottom: 1px solid rgba($color-accent-primary, 0.5);
  }
  transition: all 0.3s;
}
.item-container:last-child {
  .item {
    color: $color-primary;
    cursor: default;
    &:hover {
      border-bottom: 1px solid rgba($color-accent-primary, 0);
    }
  }
}
