.wrapper {
  position: relative;
  display: block;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  transition: 0.3s;
  outline: none;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    border-radius: 50px;
    box-shadow: 0 -9px 0 0 $color-primary;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    border-radius: 50px;
  }
}
