.container {
  margin-bottom: 47.5px;
  margin-top: 105px;
  @include lg-down {
    margin-top: 160px;
  }
  @include sm-down {
    margin-top: 230px;
  }

  &.wide {
    & .title {
      max-width: 100%;
    }

    & .description {
      max-width: 100%;
    }
  }
}

.title {
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive
  @include lg-down {
    max-width: 100%;
  }
}

.description {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: 15px;
  margin-bottom: 0;
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive
  @include md-down {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  @include lg-down {
    max-width: 100%;
  }
}
