.container {
  margin-bottom: 20px;
  margin-top: 115px;

  @include xl-down {
    margin-top: 160px;
  }

  @include lg-down {
    margin-bottom: 20px;
  }

  @include sm-down {
    margin-top: 268px;
  }

  &.wide {
    & .title {
      max-width: 100%;
    }

    & .description {
      max-width: 100%;
    }
  }

  &.withBreadcrumbs {
    & .title {
      margin-top: 15px;
    }
  }
}

.title {
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive

  @include lg-down {
    max-width: 100%;
  }
}

.description {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: 15px;
  margin-bottom: 0;
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive
  @include md-down {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  @include lg-down {
    max-width: 100%;
  }

  & a {
    color: $color-accent-primary;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
