.button {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.buttons-wrapper {
  @include md-down {
    display: none;
  }
}
:global .react-cookie-banner {
  background-color: $color-primary;
  color: $color-tertiary;
  padding: 10px 20px;
}
