.wrapper {
  border: 1px solid $color-additional-2;
  box-shadow: $light-block-shadow;
  padding: 30px;
  @include xs-down {
    max-width: calc(100% - 40px);
  }
}

.inner {
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    flex-flow: column;
  }
}

.hook {
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    flex: 0 0 100% !important;
    max-width: unset;
  }
  @media screen and (max-width: 855px) and (min-width: 768px) {
    flex: 0 0 100% !important;
    max-width: unset;
  }
}

.cloud-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
  @media screen and (max-width: 1350px) and (min-width: 1200px) {
    padding-left: 0px;
  }
  @include md-down {
    padding-left: 0px;
  }
}
.button {
  max-width: 235px;
  @include xs-down {
    max-width: unset;
  }
}

.img-wrapper {
  width: 100%;
  height: 100%;
}

.img {
  display: flex;
  align-items: center;
  height: 100%;
}
