@mixin xl-down {
  @media only screen and (max-width: $screen-xl-down) {
    @content;
  }
}

@mixin lg-down {
  @media only screen and (max-width: $screen-lg-down) {
    @content;
  }
}

@mixin md-down {
  @media only screen and (max-width: $screen-md-down) {
    @content;
  }
}

@mixin sm-down {
  @media only screen and (max-width: $screen-sm-down) {
    @content;
  }
}

@mixin xs-down {
  @media only screen and (max-width: $screen-xs-down) {
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

// disable blue highlight on selected elements (mobile)
@mixin no-highlights-on-tap {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

// mixing for wrapping hover logic to be put into effect only on desktops
@mixin hover-supported {
  @media not all and (hover: none) {
    &:hover {
      @content;
    }
  }
}

// detecting ios device, explanation https://stackoverflow.com/questions/30102792/css-media-query-to-target-only-ios-devices
@mixin ios-specific {
  @supports (-webkit-overflow-scrolling: touch) {
    @content;
  }
}

@mixin no-scrollbars {
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    width: 0; // Safari and Chrome
    height: 0;
  }
}

@mixin default-section-spacing {
  padding-bottom: $spacing-xl-down;
  @include lg-down {
    padding-bottom: $spacing-lg-down;
  }
  @include md-down {
    padding-bottom: $spacing-md-down;
  }
  @include sm-down {
    padding-bottom: $spacing-sm-down;
  }
}

@mixin doc-section-spacing {
  padding-bottom: $doc-spacing-xl-down;
}

@mixin list-style {
  ul {
    padding-left: 45px;
    list-style-type: none;
    @include xs-down {
      padding-left: 30px;
    }

    & > li {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 10px;
        left: -20px;
        width: 5px;
        height: 5px;
        background-color: $color-primary;
        border-radius: 50%;
      }
    }
  }

  ol {
    padding-left: 30px;
    counter-reset: item;
    list-style-type: none;
    @include md-down {
      padding-left: 40px;
    }

    li {
      position: relative;

      &:before {
        position: absolute;
        left: -30px;
        top: 3px;
        content: counters(item, '.') ' ';
        counter-increment: item;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $color-additional-2;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
