// Font families
$font-family-primary: 'TT Norms Pro', sans-serif;
$font-family-secondary: 'Roboto Mono', Monaco, Consolas, mono;

// Font sizes and line heights
$font-size-base: 17px;
$line-height-base: 25px;

$font-size-xl: 30px;
$line-height-xl: 40px;

$font-size-lg: 20px;
$line-height-lg: 25px;

$font-size-sm: 15px;
$line-height-sm: 20px;

$font-size-xs: 12px;
$line-height-xs: 18px; //changed from 15, wrong initial value

$font-size-code: 14px;
$line-height-code: 25px;

// Box shadows

$light-block-shadow: 0px 1px 5px rgba(60, 60, 100, 0.05);
$dark-block-shadow: 0px 1px 5px rgba(60, 60, 100, 0.3);

// Colors
$color-primary: #3c3c64;
$color-secondary: #5a5c87;
$color-tertiary: #ffffff;

$color-accent-primary: #7d64ff;
$color-accent-secondary: #00cdff;

$color-success: #28cd8c;
$color-error: #fa3287;

$color-additional-1: #beb9d7;
$color-additional-2: #ece8f1;
$color-additional-3: #f9f8fc;

// Breakpoints
$screen-xs-down: 575.98px;
$screen-sm-down: 767.98px;
$screen-md-down: 991.98px;
$screen-lg-down: 1199.98px;

// Section spacing
$spacing-sm-down: 70px;
$spacing-md-down: 90px;
$spacing-lg-down: 120px;
$spacing-xl-down: 150px;

// Doc section spacing
$doc-spacing-xl-down: 50px;
