.wrapper {
  @include default-section-spacing;
}

.wrapper-light {
  overflow: hidden;
  position: relative;
  padding: 1px;
  background-color: #ece8f1;
  box-shadow: 0px 1px 5px rgba(60, 60, 100, 0.05);
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 340px;
    height: 340px;
    background: radial-gradient(
      #7d64ff,
      $color-additional-2 77%,
      $color-additional-2
    );
    border-radius: 50%;
  }
  &:before {
    top: 100%;
    right: 100%;
    transform: translate(50%, -50%);
  }
  &:after {
    left: 100%;
    bottom: 100%;
    transform: translate(-50%, 50%);
  }
  .inner {
    position: relative;
    z-index: 1;
    padding-top: 64.5px;
    padding-bottom: 69.5px;
    background-color: #fff;
    color: $color-primary;
  }
  .button-wrapper {
    margin-top: 4px;
  }
  .cta-button {
    border: 0;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-tertiary;
  background-color: $color-primary;
  box-shadow: 0 1px 5px rgba($color-primary, 0.3);
  padding-top: 67.5px;
  padding-right: 100px;
  padding-bottom: 67.5px;
  padding-left: 60px;

  @include md-down {
    padding: 50px 40px;
  }

  @include sm-down {
    display: block;
  }

  @include xs-down {
    padding: 50px 20px;
  }
}

.content {
  max-width: 485px;

  @include md-down {
    max-width: 315px;
  }

  @include sm-down {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.title {
  margin: 0 0 15px 0;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  font-weight: 400;
  @include md-down {
    font-size: 25px;
    line-height: 30px;
  }
}

.description {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: 0;
  margin-bottom: 0;
  @include md-down {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.button-wrapper {
  position: relative;
}

.cta-button {
  @include lg-down {
    min-width: 275px;
  }
  @include sm-down {
    width: 100%;
    min-width: unset;
  }
}

.button-bg {
  position: absolute;
  top: 48%;
  left: -28px;
  transform: translateY(-50%);
  @include sm-down {
    left: -30px;
  }
}
