.wrapper {
  h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  h3 {
    font-size: $font-size-base;
    font-weight: 500;
    line-height: $line-height-lg;
    margin-bottom: 15px;
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    padding-left: 45px;
    @include xs-down {
      padding-left: 30px;
    }
  }

  li {
    counter-increment: li;
  }

  ol {
    counter-reset: item;
    list-style: none;

    li {
      position: relative;

      &:before {
        content: counters(item, '.') ' ';
        counter-increment: item;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 500;
        transform: translate(-100%, 0);
        padding-right: 10px;
      }
    }
  }

  img {
    width: 100%;
  }

  a:not([class='anchor-icon']):not([class='gatsby-resp-image-link']) {
    position: relative;
    text-decoration: none;
    color: $color-accent-primary;
    font-weight: 500;
    transition: 0.3s all;
    outline: none;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba($color-accent-primary, 0);
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid rgba($color-accent-primary, 0.5);
    }
  }

  p code,
  ol code {
    font-family: $font-family-secondary;
    padding: 3px 5px 2px;
  }

  /* modifications in blockquote.module.scss */
  blockquote {
    padding: 20px 36px 20px 20px;
    background: $color-additional-3;
    border-left: 2px solid $color-accent-primary;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    h3 {
      margin-top: 0px;
      margin-bottom: 15px;
    }
    p {
      margin: 0;
    }
    :not(pre) > code[class*='language-'] {
      background: $color-additional-2;
      line-height: 18px;
    }
  }

  table {
    border: 1px solid $color-additional-2;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border-bottom: 1px solid $color-additional-2;
    }

    th {
      padding: 10px 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      text-align: left;
      color: $color-secondary;
      background: $color-additional-3;
    }

    td {
      padding: 20px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      vertical-align: baseline;
      line-height: 25px;

      code {
        font-size: $font-size-code;
        color: $color-accent-primary;
        font-family: $font-family-secondary;
      }
    }
  }
  :not(pre) > code[class*='language-'] {
    background: $color-additional-3;
    padding: 0 5px !important; // to fight another important @ code.module
    color: $color-primary !important;
    display: inline-block;
    text-align: center;
    line-height: 23px;
    border-radius: 0;
  }
  & > * + * {
    margin-top: 30px;
  }
  & > * + h2 {
    margin-top: 50px;
  }
  & * + ul,
  & * + ol,
  & * + p {
    margin-top: 15px;
  }
  & * + li {
    margin-top: 5px;
  }
}
