.wrapper {
  h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
  }
  h3 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
  h4 {
    font-size: $font-size-base;
    font-weight: 500;
    line-height: $line-height-base;
  }

  hr {
    border-top: 1px solid $color-additional-2;
    border-style: ridge;
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    margin: 0;
  }

  @include list-style;

  img {
    width: 100%;
  }

  a:not([class='anchor-icon']):not([class='gatsby-resp-image-link']) {
    position: relative;
    text-decoration: none;
    color: $color-accent-primary;
    font-weight: 500;
    transition: 0.3s all;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba($color-accent-primary, 0);
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid rgba($color-accent-primary, 0.5);
    }

    & > span[class='code-inline'] {
      color: $color-accent-primary;
    }
  }

  table {
    border: 1px solid $color-additional-2;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border-bottom: 1px solid $color-additional-2;
    }

    th {
      padding: 10px 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      text-align: left;
      color: $color-secondary;
      background: $color-additional-3;
    }

    td {
      padding: 20px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      vertical-align: baseline;
      line-height: 25px;
    }
  }
  & > * + * {
    margin-top: 30px;
  }
  & > * + h2 {
    margin-top: 50px;
  }
  & * + ul,
  & * + ol,
  & * + p {
    margin-top: 15px;
  }
  & * + li {
    margin-top: 5px;
  }

  // margin between paragraphs, images and code blocks inside <li>
  & li > * + p,
  & li > * + div {
    margin-top: 15px;
  }

  // margin after <li>s with complex children (paragraphs, images, code blocks)
  & li > p:last-child,
  & li > div:last-child {
    margin-bottom: 25px;
  }
}
