.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  text-decoration: none;
  color: $color-primary;
  width: 100%;
  background: $color-tertiary;

  &.withCheckbox {
    cursor: pointer;

    & .name {
      padding-right: 25px;
    }

    &.checked .name {
      color: $color-accent-primary;
    }
  }

  &:hover {
    .name {
      color: $color-accent-primary;
    }
  }
}

.checkbox {
  position: absolute;
  top: 20px;
  right: 20px;
}

.imageWrapper {
  flex-shrink: 0;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid $color-additional-2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 29px;
    height: 29px;
  }

  img {
    width: auto;
    max-width: 70%;
    max-height: 70%;
    height: auto;
  }

  &.cover img {
    max-width: 100%;
    max-height: 100%;
  }

  @include sm-down {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  margin-top: 6px;
  padding-right: 8px;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: 700;
  transition: color 0.3s;
}

.category-wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 6px;

  :nth-child(n + 2) {
    margin-right: 8px;
    margin-left: 8px;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 13px;
      background-color: $color-additional-2;
      top: 4px;
      bottom: 0%;
      left: -8px;
    }
  }
}
.category {
  font-size: $font-size-xs;
  line-height: 20px;
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-right: 8px;
}

.type {
  background-color: rgba(125, 100, 255, 0.1);
  padding: 2px 4px;
  text-align: center;
  color: $color-accent-primary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-xs;
}

.author {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;
  margin-top: 5px;
}

.description {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-top: 10px;
  text-align: left;
}
