.wrapper {
  position: relative;
  display: flex;
  width: calc((100% - 100px) / 3);
  margin-bottom: 50px;
  text-decoration: none;
  color: $color-primary;

  &.withCheckbox {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }

  &:nth-child(3n + 1),
  &:nth-child(3n + 2) {
    margin-right: 50px;
  }

  &:hover {
    .name {
      color: $color-accent-primary;
    }
  }

  @include lg-down {
    width: calc((100% - 50px) / 2);
    margin-bottom: 50px;

    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      margin-right: 0;
    }

    &:nth-child(2n + 1) {
      margin-right: 50px;
    }
  }

  @include md-down {
    width: 100%;

    &:nth-child(2n + 1) {
      margin-right: 0;
    }
  }
}

.checkbox {
  position: absolute;
  top: 7px;
  right: 0;
}

.imageWrapper {
  flex-shrink: 0;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid $color-additional-2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 29px;
    height: 29px;
  }

  img {
    width: auto;
    max-width: 70%;
    max-height: 70%;
    height: auto;
  }

  @include sm-down {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  padding-right: 30px;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: 700;
  transition: color 0.3s;
}

.author {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;
  margin-top: 5px;
}

.description {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-top: 10px;
}
