.wrapper {
  position: relative;
  padding: 16px 19px;
  text-decoration: none;
  color: $color-primary;
  width: 100%;
  flex-grow: 1;
  background: $color-tertiary;
  cursor: pointer;

  &.withCheckbox {
    &.checked .name {
      color: $color-accent-primary;
    }
  }

  &:hover {
    .name {
      color: $color-accent-primary;
    }
  }

  @include xs-down {
    padding: 12px;
  }
}

.checkbox {
  position: absolute;
  top: 18px;
  right: 16px;

  @include xs-down {
    top: 12px;
    right: 12px;
  }
}

.imageWrapper {
  flex-shrink: 0;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid $color-additional-2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 29px;
    height: 29px;
  }

  img {
    width: auto;
    max-width: 70%;
    max-height: 70%;
    height: auto;
  }

  &.cover img {
    max-width: 100%;
    max-height: 100%;
  }

  @include sm-down {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
}

.tiers-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li + li {
    margin-left: 6px;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 13px;
      background-color: $color-additional-2;
      top: 4px;
      bottom: 0%;
      left: -8px;
    }
  }
}

.category {
  font-size: $font-size-xs;
  line-height: 20px;
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-right: 8px;
}

.tier {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  background-color: #f6f5f8;
  border-radius: 2px;

  span {
    color: $color-secondary;
  }

  &-official {
    color: #7d64ff;
  }

  &-verified {
    color: #63cbff;
  }

  &-community {
    color: #d063ff;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: currentColor;
  }
}

.name-wrapper {
  padding-right: 30px;
  text-align: left;
}

.name {
  position: relative;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
  color: $color-primary;
  cursor: pointer;

  &:hover {
    color: #7d64ff;
  }
}

.type {
  margin-left: 8px;
  background-color: rgba(125, 100, 255, 0.1);
  padding: 2px 4px;
  text-align: center;
  color: $color-accent-primary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-xs;
}

.author {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;
  margin-top: 5px;
}

.description {
  margin-bottom: 21px;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-top: 10px;
  text-align: left;
}

.external {
  margin-top: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #8b85ad;
  letter-spacing: -0.05em;
  pointer-events: none;

  @media (min-width: 1200px) and (max-width: 1320px) {
    column-gap: 5px;
  }
}

.stars,
.cloud {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.stars {
  &:before {
    width: 14px;
    height: 14px;
    background-image: url(./svg/star.inline.svg);
  }
}

.cloud {
  &:before {
    width: 19px;
    height: 12px;
    background-image: url(./svg/cloud.inline.svg);
  }
}
