.wrapper {
  border: 1px solid $color-additional-2;
  box-shadow: $light-block-shadow;
  @include xs-down {
    padding: 0;
  }
}

.post-card-wrapper {
  display: flex;
  padding: 20px;
  height: 100%;
  @include sm-down {
    flex-direction: column;
  }
  &_doc {
    @include md-down {
      flex-direction: column;
    }
    .info-col {
      a {
        margin-bottom: 40px;
      }
      @include md-down {
        padding: 0;
        a {
          margin-bottom: 0;
        }
      }
    }
  }
}

.image-col {
  flex: 0 0 50%;
}

.image {
  width: 540px;
  height: 100%;
  &_doc {
    width: 95%;
  }
  @include lg-down {
    width: 100%;
  }
}

.covertext-wrapper {
  background-color: $color-additional-3;
  width: 540px;
  height: 100%;
  position: relative;
  &_doc {
    width: 95%;
    padding-bottom: 67.22%;
  }
  @include lg-down {
    width: 100%;
  }
  @include md-down {
    padding-bottom: 67.22%;
  }
}

.covertext {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  color: $color-secondary;
  text-align: center;
}

.info-col {
  flex: 0 0 50%;
  padding-right: 55px;
  padding-left: 10px;
  @include lg-down {
    padding-left: 40px;
  }
  @include md-down {
    padding-right: 0;
  }
  @include sm-down {
    padding: 0;
  }
}

.props {
  text-transform: uppercase;
  margin: 40px 0 15px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  letter-spacing: 0.5px;
  font-weight: 500;
  @include lg-down {
    margin: 20px 0 15px;
  }
}

.date {
  color: $color-secondary;
}

.description {
  margin-top: 0;
  color: $color-secondary;
}

.title {
  margin-bottom: 25px;
  &_doc {
    @include lg-down {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
  }
}
