.container {
  @include doc-section-spacing;

  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;

  @include lg-down {
    grid-template-columns: 1fr 1fr;
  }

  @include md-down {
    grid-template-columns: 1fr;
  }
}

.listTitle {
  grid-column: 1/-1;
  font-size: 25px;
  line-height: 35px;
  font-weight: normal;
}

.selection {
  box-sizing: border-box;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: $color-tertiary;
  padding-left: 50px;
  padding-right: 50px;
  //margin-top: -20px;
  margin-left: -50px;
  margin-right: -50px;

  padding-bottom: 20px;
  border-bottom: 1px solid $color-additional-2;

  @include md-down {
    margin-left: -20px;
    margin-right: -20px;

    padding-left: 20px;
    padding-right: 20px;
  }

  @include sm-down {
    margin-left: 20px;
    margin-right: 20px;

    padding-left: 0;
    padding-right: 0;
  }
}

.codeWrapper {
  position: relative;
  max-width: 100%;
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
  background: $color-primary;

  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    background: $color-primary;
  }
}

.code {
  max-width: calc(100% - 70px);
  height: 100%;
  display: inline-block;

  overflow-y: auto;
  overflow-x: scroll;
  text-align: left;
  @include no-scrollbars;
  padding: 15px;

  text-shadow: none;
  font-family: $font-family-secondary;
  font-size: $font-size-code;
  line-height: $line-height-code;
  color: #e2e2e2;
  white-space: nowrap;
}

.copy {
  z-index: 3;
  top: 17px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.selected {
  margin-right: 20px;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-primary;

  & .number {
    font-weight: 700;
  }
}

.clear {
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  padding: 0;
  color: $color-primary;
  font-weight: 500;
  transition: color 0.3s;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $color-accent-primary;
  }
}

.filters {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-wrapper {
  box-shadow: $light-block-shadow;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: calc(50% - 2.5px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-secondary;
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
}

.dropdown {
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid $color-secondary;
  padding: 12px 40px 11px 15px;
  width: 100%;
  background: transparent;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-primary;
  font-weight: 500;
  outline: none;
  transition: 0.3s border-color;

  &:-moz-focusring {
    border: none;
  }

  &:focus {
    border-color: $color-accent-primary;
  }
}
