.container {
  //margin-top: 100px;
  margin-top: 165px;
  position: relative;
  @include xl-down {
    margin-top: 185px;
  }
  @include sm-down {
    //margin-top: 250px;
    margin-top: 240px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  @include xs-down {
    width: 100%;
    padding: 0 20px;
  }

  &.versioned {
    margin-top: 165px;

    @include sm-down {
      margin-top: 240px;
    }
  }
}

.main-doc-content {
  padding-right: 37.5px; // keeping spacing of 50px
  @include md-down {
    padding-right: 12.5px; // reverting back after hiding table of contents
  }
}

.breadcrumbs-stub {
  margin-bottom: 15px;
}

.section-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
