.nav-column-title {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 20px;
  @include sm-down {
    margin-bottom: 15px;
  }
}

.nav-column-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-column-link {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  text-decoration: none;
  color: $color-primary;
  transition: 0.3s;

  &:hover {
    color: $color-accent-primary;
  }
}
