/* main blockquote styles in html-content.module.scss */

blockquote.doc-blockquote-warning {
  border-left: 2px solid $color-error;
  span {
    display: inline-block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-error;
    margin-bottom: 15px;
    font-weight: 600;
  }
}
