.wrapper {
}

.inner {
  position: relative;
  @include doc-section-spacing;
  &_spaced {
    margin-top: 135px;
    @include doc-section-spacing;
    @include lg-down {
      margin-top: 200px;
    }
    @include md-down {
      margin-top: 245px;
    }
    @include sm-down {
      margin-top: 265px;
    }
  }
}

.anchor-bar-wrapper {
  position: absolute;
  right: 0;
  top: -15px;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  @include lg-down {
    display: none;
  }
}

.anchor-bar {
  max-width: 275px;
}

.main-doc-content {
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive
  &_beliefs {
    max-width: calc(100% - 400px);
  }
  @include lg-down {
    max-width: 100%;
  }
}

.content-wrapper {
  position: relative;
  z-index: 2; // otherwise navbar in its sticky mode closes main content for interactions
  &_beliefs {
    padding-bottom: 0;
  }
  @include lg-down {
    position: unset;
  }
}

.table-wrapper {
  width: 100%;
  overflow: auto;
  margin: 40px 0;
  @include sm-down {
    tr td:nth-of-type(3) {
      width: 100%;
      min-width: 230px; //usually 3rd column contains text which is being squished
    }
  }
}

.mark-heading {
  position: relative;
  margin-bottom: 15px;
  a {
    position: absolute;
    left: -20px;
    visibility: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    &:hover {
      text-decoration: none;
      border: none;
    }
  }
  &:hover {
    a {
      visibility: visible;
    }
  }
}
