.wrapper {
}

.inner {
  position: relative;
  @include doc-section-spacing;
  &_spaced {
    margin-top: 135px;
    @include doc-section-spacing;
    @include lg-down {
      margin-top: 200px;
    }
    @include md-down {
      margin-top: 245px;
    }
    @include sm-down {
      margin-top: 265px;
    }
  }
}

.main-doc-content {
  max-width: calc(100% - 325px); // preserving the spacing and width in adaptive
  &_beliefs {
    max-width: calc(100% - 400px);
  }
  @include lg-down {
    max-width: 100%;
  }
}

.content-wrapper {
  position: relative;
  z-index: 2; // otherwise navbar in its sticky mode closes main content for interactions
  &_beliefs {
    padding-bottom: 0;
  }
  @include lg-down {
    position: unset;
  }
}
