.container {
  @include doc-section-spacing;

  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 15px;
}

.description {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin: 0 0 20px;
}

.trait {
  margin-left: 20px;
}

.trait + .trait {
  margin-top: 8px;
}
