.terminal-header {
  width: 100%;
  background-color: $color-secondary;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0 10px; // there is 11px value in mockup but I've round it down following V. notes
  @include xs-down {
    height: 20px;
  }
  transition: 0.2s ease;
  border: 1px solid $color-secondary;
}

.button {
  display: block;
  background-color: $color-tertiary;
  opacity: 0.1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.white {
  background-color: $color-tertiary;
  border: 1px solid #ece8f1;
  .button {
    background-color: $color-additional-2;
    opacity: 1;
  }
}

.grey {
  background-color: $color-additional-3;
  border: 1px solid #ece8f1;
  .button {
    background-color: $color-additional-2;
    opacity: 1;
  }
  .title {
    color: $color-primary;
  }
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: $color-tertiary;
  font-size: $font-size-sm;
  transition: 0.2s ease color;
}
