.wrapper {
  background: $color-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color-tertiary;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid $color-accent-primary;
  z-index: 5; // otherwise twitter cards and hot it works video wins
}
.message {
  margin-right: 20px;
}
.btn {
  @include lg-down {
    display: block;
    margin-top: 20px;
  }
  @include xs-down {
    width: 100%;
  }
}
