.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.current {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $color-accent-primary;
  font-size: 12px;
  font-weight: 500;

  &-open .icon {
    transform: rotate(180deg);
  }
}

.icon {
  margin-left: 5px;
}

.menu {
  z-index: 10;
  position: absolute;
  top: calc(100% + 5px);
  left: -8px;

  &-item {
    border: none;
    background-color: transparent;

    padding: 5px 15px;
    color: $color-primary;
    font-size: 12px;
    line-height: 15.36px;
    font-weight: 500;
    cursor: pointer;

    @include hover-supported {
      color: $color-accent-primary;
    }

    &-active {
      color: $color-accent-primary;
      font-weight: 500;
    }
  }
}
