.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.current {
  position: relative;
  z-index: 11;
  padding: 0;

  color: $color-primary;
  font-size: 12px;
  font-weight: 700;

  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;

  @include hover-supported {
    color: $color-accent-primary;
  }

  &-open {
    &::before {
      position: absolute;
      content: '';
      top: -10px;
      left: -15px;
      width: calc(100% + 30px);
      height: calc(100% + 20px);
      border: 1px solid $color-additional-2;
    }

    & .icon {
      transform: rotate(180deg);
    }
  }
}

.icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.menu {
  z-index: 10;
  position: absolute;
  top: calc(100% + 7px);
  left: -15px;
  width: calc(100% + 30px);

  display: flex;
  flex-direction: column;
  padding-top: 9px;
  padding-bottom: 9px;

  border: 1px solid $color-additional-2;
  border-top-color: transparent;

  background-color: $color-tertiary;

  &-item {
    border: none;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 14px;
    color: $color-primary;
    font-size: 12px;
    line-height: 14.38px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;

    background-color: $color-tertiary;
    transition: color 0.3s ease;

    @include hover-supported {
      color: $color-accent-primary;
    }

    & + & {
      margin-top: 10px;
    }
  }
}
