.wrapper {
  margin-top: -10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;

  max-width: calc(100% - 325px);

  @include lg-down {
    max-width: 100%;
  }
  @include md-down {
    max-width: 100%;
  }

  @include xs-down {
    flex-direction: column;
    & > *:first-child {
      margin-bottom: 30px;
    }
  }

  &.top-level {
    margin-top: 50px;
    padding-bottom: 0;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
  padding-right: 32px;
  margin-left: auto;

  text-decoration: none;
  color: $color-primary;

  & svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &.prev {
    align-items: flex-start;
    margin-left: 0;
    margin-right: auto;
    padding-right: 0;
    padding-left: 32px;
    & svg {
      transform: rotate(180deg) translateY(50%);
      right: auto;
      left: 0;
    }
  }

  &:hover {
    .name {
      color: $color-accent-primary;
      transition: 0.3s;
    }
  }
}

.direction {
  font-weight: 700;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-accent-primary;
  text-transform: uppercase;
}
