.item-card-wrapper {
  height: 100%;
}

.container {
  @include doc-section-spacing;
}

.subtitle {
  margin-top: 10px;
  color: $color-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.title {
  margin-bottom: 15px;
}

.image {
  margin-bottom: 15px;
}

.footer {
  padding: 15px 20px;
}
