.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 1px 5px rgba($color-primary, 0.05);
  transition: 0.3s;
  overflow: hidden;

  // to emulate the border
  // this complex emulation required for hover effect (see .circleWrapper and .circle in this file)
  padding: 1px;
  background: $color-additional-2;
  @include hover-supported {
    &:hover {
      box-shadow: 0 5px 10px rgba($color-primary, 0.05);
      transform: translateY(-4px);

      .corner {
        opacity: 1;
        visibility: visible;
      }
      .circle-wrapper {
        display: block;
        opacity: 1;
      }
    }
  }

  &_lifted {
    top: -50px;

    @include sm-down {
      top: 0px;
    }
  }
}

.circle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease opacity;
  transform: translate3d(100%, 0, 0);

  &2 {
    transform: translate3d(100%, 100%, 0);
  }
}

.circle {
  width: 150px;
  height: 150px;
  background: radial-gradient(#7d64ff, #ece8f1 77%, #ece8f1);
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.content {
  position: relative;
  padding: 25px 20px;
  background: white;
  flex-grow: 1;
}

.title {
  margin-bottom: 10px;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.text {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-secondary;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: relative;
  border-top: 1px solid $color-additional-2;
  background-color: $color-additional-3;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: auto;
}

.link {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;
  text-decoration: none;
  color: $color-accent-primary;
}

.corner {
  position: absolute;
  top: -1px;
  right: -1px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
