.wrapper {
  display: inline-flex;
  height: 45px;
  position: relative;
  width: 100%;
  > form {
    flex: 1 0 230px;
    height: 100%;
  }
}
.search-input {
  flex: 1;
  height: 100%;
  box-shadow: $light-block-shadow;
  text-align: left;
  overflow-x: auto;
  color: $color-primary;
  font-weight: 500;
  border: 1px solid $color-secondary;
  padding: 0 40px 0 15px;
  outline: none;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  border-radius: 0;
  appearance: none;
  &::placeholder {
    color: $color-secondary;
    font-weight: 400;
  }
  &:focus {
    border: 1px solid $color-accent-primary;
  }
}

.clear-button {
  position: absolute;
  right: 13px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  opacity: 1;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  background: transparent;
  &.inactive {
    opacity: 0;
    cursor: text;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    background-color: $color-additional-1;
    content: '';
    height: 100%;
    width: 1px;
    transition: all 0.3s;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background-color: $color-primary;
    }
  }
}

.root {
  position: relative;
  display: grid;
  grid-gap: 1em;
}

.focuses {
  background: white;
  color: $color-accent-primary;
  cursor: text;
  width: 5em;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hits-wrapper {
  display: none;
  max-height: 75vh;
  overflow: scroll;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  width: calc(1175px / 2);
  box-shadow: 0 5px 10px rgba(60, 60, 100, 0.05);
  background: $color-tertiary;
  border: 1px solid $color-additional-2;
  @include lg-down {
    width: 100%;
  }
  &.show {
    display: grid;
  }
  li {
    padding: 10px 15px;
  }
  li + li {
    border-top: 1px solid $color-additional-2;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  mark {
    color: $color-accent-primary;
    background: $color-additional-2;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid $color-additional-2;
  }
}

.index-heading {
  &-keyword {
    font-weight: 500;
  }
}
.stats {
  font-size: $font-size-xs;
  font-weight: 500;
}

.hit-entry {
  text-decoration: none;
}

.hit-heading {
  color: $color-secondary;
  font-weight: 500;
  outline: none;
  display: inline-flex;
  &:hover {
    border-color: rgba(90, 92, 135, 0.5);
  }
}

.excerpt {
  display: block;
  color: $color-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

.powered-by {
  border-top: 1px solid $color-additional-2;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: $font-size-sm;
  line-height: 1;
  a {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
  }
  svg {
    height: 15px;
    width: auto;
    margin-right: 5px;
    margin-left: 10px;
  }
}

.no-results {
  padding: 5px 15px;
  font-size: $font-size-sm;
  color: $color-primary;
}

.toggle-results-btn {
  outline: none;
  appearance: none;
  border: none;
  padding: 0 0 1px 0;
  transition: all 0.3s ease;
  position: relative;
  background: none;
  @include no-highlights-on-tap;
  &:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    display: block;
    width: 8px;
    height: 8px;
    transform: translateY(35%) rotate(225deg);
    border: 2px solid $color-accent-primary;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  &.open {
    &:after {
      transform: translateY(100%) rotate(45deg);
    }
  }
}
