.wrapper {
  margin: 20px 0;
  border: 1px solid $color-additional-2;
  box-shadow: 0px 1px 5px rgba(60, 60, 100, 0.05);
}

@keyframes borderFadeOut {
  0% {
    border-bottom-color: transparent;
  }

  1% {
    border-bottom-color: $color-additional-2;
  }
}

@keyframes borderFadeIn {
  0% {
    border-bottom-color: $color-additional-2;
  }
  99% {
    border-bottom-color: $color-additional-2;
  }

  100% {
    border-bottom-color: transparent;
  }
}

.header {
  position: relative;
  width: 100%;
  background: $color-additional-3;
  padding: 12px 50px 13px 25px;
  color: $color-primary;
  font-size: 25px;
  line-height: 35px;
  border-bottom: 1px solid transparent;
  animation: borderFadeIn 0.3s;

  &.expanded {
    animation: borderFadeOut 0.3s;
    border-bottom-color: $color-additional-2;
  }
}

.button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $color-secondary;
  border-radius: 50%;
  top: 17px;
  right: 17px;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: $color-secondary;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: background-color 0.3s ease;
  }

  &::before {
    width: 11px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 11px;
  }

  &:hover {
    background-color: $color-secondary;

    &::before,
    &::after {
      background-color: $color-tertiary;
    }
  }
}

.header.expanded .button::after {
  height: 0;
  width: 0;
}

.content {
  overflow: hidden;
  transition: height 0.3s linear;
}

.inner {
  padding: 12px 20px 10px 20px;
}
