{{ $data := dict }}
{{ $url := "https://registry.k6.io/catalog.json" }}
{{ $resource := try (resources.GetRemote $url) }}
{{ if $resource.Value }}
  {{ $data = $resource.Value | transform.Unmarshal }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}

<table>
<thead>
<tr>
<th>Extension</th>
<th>Description</th>
<th>Versions</th>
</tr>
</thead>
<tbody>
{{- range $key, $extension := $data }}
{{- if eq $extension.tier "official" }}
<tr>
<td><a href="{{ $extension.repo.url }}">{{ $extension.repo.name }}</a></td>
<td>{{ $extension.description }}</td>
<td>{{ delimit $extension.versions ", " }}</td>
</tr>
{{- end }}
{{- end }}
</tbody>
</table>
