.wrapper {
  // font-size variables system is completely broken due to
  // absent 25/35 values that must be lg. That's why md size set to a lg values
  &_size_lg {
    font-size: 25px; // no variables exists
    line-height: 35px;
  }

  &_size_md {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  &_size_sm {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  &_size_xs {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    // no other variants of these params exist at xs size,
    // so they're hardcoded here
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-secondary;
    text-align: center;
  }
}
.mark-heading {
  position: relative;
  margin-bottom: 15px;
  a:first-child {
    position: absolute;
    left: -20px;
    visibility: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    &:hover {
      text-decoration: none;
      border: none;
    }
    @include xs-down {
      position: static;
      margin-left: 5px;
    }
  }
  &:hover {
    a:first-child {
      visibility: visible;
    }
  }
}
