.wrapper {
  @include doc-section-spacing;
  &.last {
    padding-bottom: 0;
  }
}

.title {
  margin-bottom: 15px;
}

.links-wrapper {
  list-style-type: none;
  padding: 0;
  box-shadow: $light-block-shadow;
  margin: 0;
}

.link-wrapper {
  border: 1px solid $color-additional-2;
  &:not(:last-child) {
    margin-bottom: -1px;
  }
}

.link {
  text-decoration: none;
  outline: none;
  padding: 20px;
  display: block;
  min-height: 115px;
  cursor: pointer;
  &:hover {
    .link-title {
      color: $color-accent-primary;
    }
  }
}

.link-title {
  font-weight: 500;
  color: $color-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  transition: color 0.3s ease;
  margin: 0 0 5px 0;
}

.description {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-secondary;
  margin: 0;
  font-weight: 400;
}
