blockquote {
  padding: 20px 36px 20px 20px;
  background: $color-additional-3;
  border-left: 2px solid $color-accent-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin: 0;
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  p {
    margin: 0;
  }
  & span[class='code-inline'] {
    background: $color-additional-2;
  }
  & div[class^='with-copy-button'] {
    margin-top: 15px;
  }
}

blockquote.doc-blockquote-info {
  border-left: 2px solid $color-info;
  span[class='kicker'] {
    display: block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-info;
    margin-bottom: 15px;
    margin-left: 8px;
    font-weight: 600;
  }
}

blockquote.doc-blockquote-attention {
  background: $color-attention-bg;
  border-left: 2px solid $color-attention;
  span[class='kicker'] {
    display: block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-attention;
    margin-bottom: 15px;
    margin-left: 8px;
    font-weight: 600;
  }
}

blockquote.doc-blockquote-warning {
  background: $color-error-bg;
  border-left: 2px solid $color-error;
  span[class='kicker'] {
    display: block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-error;
    margin-bottom: 15px;
    margin-left: 8px;
    font-weight: 600;
  }
}

.icon {
  display: inline;
  width: 18px;
  height: 18px;
}

.wrapper {
  display: flex;
}
