blockquote {
  padding: 20px 36px 20px 20px;
  background: $color-additional-3;
  border-left: 2px solid $color-accent-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin: 0;
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  p {
    margin: 0;
  }
  span[class='code-inline'] {
    background-color: $color-additional-2;
  }
}

blockquote.doc-blockquote-warning {
  border-left: 2px solid $color-error;
  span {
    display: block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-error;
    margin-bottom: 15px;
    font-weight: 600;
  }
}
