blockquote {
  padding: 20px 36px 20px 20px;
  background: $color-additional-3;
  border-left: 2px solid $color-accent-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin: 0;
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  & span[class='code-inline'] {
    background: $color-additional-2;
  }
  & div[class^='with-copy-button'] {
    margin-top: 15px;
  }
  .kicker {
    display: block;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-accent-primary;
    font-weight: 600;
    &.uppercased {
      text-transform: uppercase;
    }
  }
}

blockquote {
  &[class*='info'] {
    border-left-color: $color-accent-primary;
  }
  &[class*='attention'] {
    border-left-color: #fab732;
    background: lighten(#fab732, 39%);
    .kicker {
      color: #fab732;
    }
  }
  &[class*='warning'] {
    border-left-color: $color-error;
    background: lighten($color-error, 39%);
    .kicker {
      color: $color-error;
    }
  }
}

.icon {
  display: inline;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
