.wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  max-width: calc(100% - 325px);
  margin: 15px 0 50px;
  @include lg-down {
    max-width: calc(100% - 240px);
    flex-flow: column-reverse;
  }
  @include md-down {
    max-width: 100%;
  }
  &.no-heading {
    margin: 0;
    margin-bottom: 50px;
    max-width: calc(100% - 120px);
    @include lg-down {
      max-width: 100%;
    }
    .links {
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      position: initial;
      top: initial;
      right: initial;
      transform: none;
      @include sm-down {
        flex-direction: column;
      }
      .githubLink {
        margin-bottom: 0;
        @include sm-down {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.title {
  flex: 1;
}

.links {
  position: absolute;
  right: -50px;
  top: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;

  @include lg-down {
    position: initial;
    top: unset;
    right: unset;
    margin-bottom: 10px;
    transform: unset;
  }
}

.edit-link {
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: $color-primary;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  svg {
    width: 18px;
    height: auto;
    margin-right: 10px;
    path {
      transition: 0.3s ease;
    }
  }

  &:hover {
    color: $color-accent-primary;
    svg {
      path {
        fill: $color-accent-primary;
      }
    }
  }
}

.githubLink {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 700;
  color: $color-primary;
  border: 1px solid $color-additional-2;
  text-decoration: none;

  margin-bottom: 50px;

  @include hover-supported {
    color: $color-accent-primary;
  }

  & svg {
    margin-right: 10px;
    fill: #333;
    width: 18px;
    height: 18px;
  }

  @include lg-down {
    margin-bottom: 25px;
  }
}
