.wrapper {
  position: fixed;
  right: 16px;
  bottom: 12px;
  display: flex;
  z-index: 5;
}

.button {
  background: transparent;
  appearance: none;
  border: none;
  padding: 0;
  order: 1;
  &:hover {
    cursor: pointer;
  }
}

.menu-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  list-style: none;
  border: 1px solid $color-additional-2;
  border-radius: 10px;
  background: $color-tertiary;
  box-shadow: $light-block-shadow;
  margin-bottom: 15px;
}

.list-item svg {
  margin-right: 10px;
  path {
    transition: all 0.3s ease;
  }
}

.list-item a,
.list-item button {
  appearance: none;
  text-decoration: none;
  display: flex;
  font-size: $font-size-xs;
  line-height: 1;
  font-weight: 500;
  color: $color-primary;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 15px 20px;
  margin: 0;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  border: none;
  &:hover {
    svg path {
      fill: $color-accent-primary;
    }
  }
}

.title {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  text-transform: none;
  padding: 15px 20px;
  font-weight: 500;
  color: $color-primary;
  margin: 0;
}

.list-item {
  display: flex;
  &:first-child {
    background-color: $color-additional-3;
    border-radius: 10px 10px 0 0;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $color-additional-2;
  }
}
