.wrapper {
  display: inline-block;
  vertical-align: top;
  &.doc {
    position: relative;
    span {
      position: absolute;
      right: -10px;
      top: 50%;
      font-size: 12px;
      color: $color-accent-primary;
      border-radius: 2px;
      background-color: rgba($color-accent-primary, 0.1);
      line-height: 1;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 2px 5px;
      transform: translate(100%, -50%);
    }
  }
}

.logo {
  display: block;
  fill: $color-primary;
}
