.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.dropdown {
  width: 100%;
  &.open {
    box-shadow: 0 1px 5px rgba(60, 60, 100, 0.3);
  }
}

.current {
  position: relative;
  z-index: 11;
  width: 100%;
  padding: 6px 15px;
  background-color: $color-additional-3;
  cursor: pointer;
  color: $color-secondary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;

  text-align: left;

  border: 1px solid $color-additional-1;

  &-open {
    & .icon {
      transform: translateY(-50%) rotate(180deg);
    }

    border-bottom-color: $color-additional-2;
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.menu {
  z-index: 10;
  position: absolute;
  top: calc(100% - 6px);
  left: 20px;
  background-color: $color-additional-3;
  margin: 0;
  width: calc(100% - 40px);

  list-style: none;
  padding: 10px 15px;

  border: 1px solid $color-additional-1;
  border-top-color: $color-additional-2;

  box-shadow: 0 1px 5px rgba(60, 60, 100, 0.3);
}

.item {
  border: none;
  background-color: transparent;

  &.submenu {
    padding-left: 13px;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.link {
  color: $color-secondary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;

  @include hover-supported {
    color: $color-accent-primary;
  }

  &-active {
    color: $color-accent-primary;
    font-weight: 500;
  }

  &.disabled {
    color: $color-additional-1;
    cursor: auto;
  }

  &.active {
    color: $color-accent-primary;
  }
}
