.wrapper {
  @include default-section-spacing;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
}

.logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -12.5px;
  margin-bottom: -25px;
  margin-left: -12.5px;

  @include sm-down {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12.5px;
  padding-left: 12.5px;
  padding-bottom: 25px;

  @include sm-down {
    flex-basis: 33.333%;
  }
}

.logo {
  @include md-down {
    max-width: 75%;
    &.round {
      max-width: 60%;
    }
  }
}
