.container {
  @include doc-section-spacing;
}

.title {
  margin-bottom: 15px;
}

.description {
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0 0 20px;
  @include md-down {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.traits {
  margin-bottom: 20px;
}
