.table-wrapper {
  width: 100%;
  overflow: auto;
  margin: 40px 0;
  @include sm-down {
    tr td:nth-of-type(3) {
      width: 100%;
      min-width: 230px; //usually 3rd column contains text which is being squished
    }
  }
}
