.background-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2200px;
  transform: translateY(100%) translateX(-50%);

  svg {
    display: inline-block;
    vertical-align: top;
  }

  @media only screen and (min-width: 2201px) {
    display: none;
  }
}

.background-line {
  position: absolute;
  bottom: 0;
  left: 0;
}
