name: build-website

on:
  push:
    paths:
      - "docs/sources/k6/**"
      - "docs/sources/k6-studio/**"
      - ".github/workflows/build-website.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Build website with k6 docs
        uses: grafana/writers-toolkit/build-website@4b1248585248751e3b12fd020cf7ac91540ca09c # build-website/v1.0.1
        with:
          source_directory: docs/sources/k6
          website_directory: content/docs/k6

      - name: Build website with k6 Studio docs
        uses: grafana/writers-toolkit/build-website@4b1248585248751e3b12fd020cf7ac91540ca09c # build-website/v1.0.1
        with:
          source_directory: docs/sources/k6-studio
          website_directory: content/docs/k6-studio
