name: Production

on:
  push:
    tags:
      - 'v*.*.*'

env:
  ALGOLIA_ADMIN_KEY: ${{ secrets.PROD_CI_ALGOLIA_ADMIN_KEY }}
  AWS_ACCESS_KEY_ID: ${{ secrets.PROD_CI_AWS_ACCESS_KEY }}
  AWS_CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.PROD_CI_AWS_CLOUDFRONT_DISTRIBUTION_ID }}
  AWS_REGION: 'eu-west-1'
  AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_CI_AWS_SECRET_KEY }}
  BUCKET_NAME: ${{ secrets.PROD_CI_BUCKET_NAME }}
  BUCKET_REGION: ${{ secrets.PROD_CI_BUCKET_REGION }}
  GATSBY_ALGOLIA_APP_ID: ${{ secrets.PROD_CI_GATSBY_ALGOLIA_APP_ID }}
  GATSBY_ALGOLIA_INDEX_NAME: ${{ secrets.PROD_CI_GATSBY_ALGOLIA_INDEX_NAME }}
  GATSBY_ALGOLIA_SEARCH_ONLY_KEY: ${{ secrets.PROD_CI_GATSBY_ALGOLIA_SEARCH_ONLY_KEY }}
  GATSBY_DEFAULT_APP_URL: https://app.${{ secrets.PROD_CI_MAIN_URL }}
  GATSBY_DEFAULT_BLOG_URL: https://${{ secrets.PROD_CI_MAIN_URL }}/blog
  GATSBY_DEFAULT_DOC_URL: https://${{ secrets.PROD_CI_MAIN_URL }}/docs
  GATSBY_DEFAULT_MAIN_URL: https://${{ secrets.PROD_CI_MAIN_URL }}
  GATSBY_GOOGLE_API_KEY: ${{ secrets.PROD_CI_GATSBY_GOOGLE_API_KEY }}
  GATSBY_NEWSLETTER_FORM_URL: https://go2.grafana.com
  GATSBY_NEWSLETTER_FORM_MUNCHKIN_ID: 356-YFG-389
  GATSBY_NEWSLETTER_FORM_ID: 1420

jobs:
  update-dependencies:
    name: Update node module dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Use Node.js 16.xs
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    needs:
      - update-dependencies
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Use Node.js 16.xs
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Check formatting
        run: |
          npm run format
      - name: Lint code
        run: |
          npm run lint
      - name: Lint code examples
        run: |
          npm run lint:examples

  lint-prose:
    name: Lint prose
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@reviewdog
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: ./src/data/markdown
          version: 2.17.0
          fail_on_error: true
          vale_flags: '--glob=**/{docs,translated-guides/en}/**/*.md'

  build-deploy-prod:
    name: Build and deploy to prod
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Use Node.js 16.xs
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build:gatsby
      - name: Checks if AWS CLI already installed
        run: (command -v aws >/dev/null && echo "is_aws_installed=true" || echo "is_aws_installed=false") >> $GITHUB_ENV
      - name: Download AWS CLI
        if: ${{ !env.is_aws_installed }}
        run: curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" && unzip awscliv2.zip
      - name: Install AWS CLI
        if: ${{ !env.is_aws_installed }}
        run: sudo ./aws/install
      - name: Confirm the installation
        run: aws --version
      - name: Deploy
        run: npm run deploy
