name: publish-technical-documentation-k6

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/k6/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/k6-docs'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@9aed4f7c5b3caa1b58d72ee39232333407d4acbf # publish-technical-documentation/v1
        with:
          source_directory: docs/sources/k6
          website_directory: content/docs/k6
