name: Update `make docs` procedure
on:
  schedule:
    - cron: '0 7 * * 1-5'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  main:
    if: github.repository == 'grafana/k6-docs'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/update-make-docs@update-make-docs/v1
        with:
          pr_options: >
            --label type/docs
          trace: true
