.wrapper {
  position: absolute;
  width: 100%;
  top: 85px;

  @include sm-down {
    display: flex;
    align-items: center;
    top: 160px;
  }
}

.inner {
  display: flex;
  align-items: center;
  width: 100%;
  background: $color-warning;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: $color-tertiary;
  border: 1px solid $color-warning-border;
}

.message {
  color: $color-primary;
}
