.wrapper {
  //margin: 140px 0 -145px 0;
  margin: 100px 0 -145px 0;

  @include sm-down {
    display: flex;
    align-items: center;
    margin: 217px 0 -217px 0;
  }
}

.inner {
  display: flex;
  align-items: center;
  background: $color-warning;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: $color-tertiary;
  border: 1px solid $color-warning-border;
}

.message {
  color: $color-primary;
}
